$mobile-portrait: 480px;
$mobile-landscape: 768px;
$tablet-landscape: 959px;
$desktop: 1025px;

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin mobile () {
  @media only screen and (max-width: $mobile-portrait) {
    @content;
  }
}

@mixin mobile-landscape () {
  @media only screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape) {
    @content;
  }
}

@mixin tablet () {
  @media only screen and (min-width: $mobile-landscape) and (max-width: $tablet-landscape) {
    @content;
  }
}

//
// Devices
// 
// Takes arguments as device names to include same content
// for different device sizes
// 
// (eg. @include devices('mobile-landscape', 'mobile'))
// --------------------------------------------------
@mixin devices ($devices...) {
  @each $device in $devices {
    @if ($device == 'desktop') {
      @include desktop {
        @content;
      }
    }

    @if ($device == 'tablet') {
      @include tablet {
        @content;
      }
    }

    @if ($device == 'mobile-landscape') {
      @include mobile-landscape {
        @content;
      }
    }

    @if ($device == 'mobile') {
      @include mobile {
        @content;
      }
    }
  }
}
